<h3>Here is the figure:</h3>
<a href="/figures/<%= @figure.id %>"><%= @figure.name %></a>

<h2> Landmarks: </h2>
<ul>
  <% @figure.landmarks.each do |landmark|%>
    <li><%=landmark.name%></li>
  <%end%>
</ul>